html, body {
    margin: 0;
    background-color: #ffb300;
    font-family: 'Roboto', sans-serif;
}
  
section #services {
    text-align: center;
    transform: translatez(0);
}
section #services h2 {
    margin: 80px 0px 40px;
    color: #000;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}
section #services li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    margin-top: 80px;
    list-style: none;
}

section #services li div {
    width: 120px;
    height: 120px;
    color: #ffb300;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #000;
    transition: all 0.5s ease;
}

section #services li a {
    color: #ffb300;
}

section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}

section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

