:root {
    --top-spacing: 4cm;
    --top-spacing-neg: -5cm;

    --main-bg-color: #EDAE49;
    --second-bg-color: #00798C;
    --highlight: #D1495B;
    --highlight-current: #EDAE49;
    --grey: #8E8D89;
    --color-antic: rgba(128, 128, 128, 0.9);
}

body {
    margin: 0px;
    /* background-color: var(--main-bg-color); */
    background-image: url("../assets/pissarra-blur-2.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: var(--highlight-current)
}


#myBtn {
    position: fixed;
    /* margin-right: 3.5%; */
    right: 3.5%;
    bottom: 20px;
    z-index: 99;

    background-color: var(--second-bg-color);
    color: black;

    border-radius: 15px;
    font-size: 18px;
    width: 52px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--highlight-current);
    outline: none;
    cursor: pointer;
    padding: 15px;
}

#myBtn:hover {
    background-color: var(--highlight-current);
    color: black;
    transition: background 0.5s;
}

@media (min-width: 1100px) {
    #myBtn {
        position: fixed;
        right: unset;
        left: 1cm;
        margin-left: 0cm;
        bottom: 1cm;
        z-index: 99;
    
        background-color: var(--second-bg-color);
        color: black;
    
        border-radius: 15px;
        font-size: 18px;
        width: 52px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px;
    }
    
    #myBtn:hover {
        background-color: var(--highlight-current);
        color: black;
        transition: background 0.5s;
    }
}