:root {
    --top-spacing: 3cm;
    --top-spacing-neg: -4cm;

    --main-bg-color: #f0cf65;
    --second-bg-color: #71AFD9;
    --highlight: #d97c71;
    --highlight-current: #f0cf65;
    --font-color: black;
    --font-color-inv: white;
    --bg-img: url("../assets/pissarra-blur-light.jpg");
    --icona-UV: 0%;
    --border-highlight: #8671d9;
}

body {
    margin: 0px;
    /* background-color: var(--main-bg-color); */
    background-image: var(--bg-img);
    /* background-color: var(--main-bg-color); */
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

a {
    /* color: var(--highlight-current) */
    color: #FFDE7C;
}


.Btn {
    position: fixed;
    bottom: 20px;
    z-index: 99;

    background-color: var(--second-bg-color);
    color: var(--font-color);

    border-radius: 15px;
    font-size: 18px;
    width: 52px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--border-highlight);
    outline: none;
    cursor: pointer;
    padding: 15px;
    padding-top: 17px;
    padding-left: 12px;
}

.Btn:hover {
    background-color: var(--highlight);
    color: var(--font-color);
    transition: background 0.5s;
}

.themeBtn {
    right: 3.5%;
}

.topBtn {
    padding-left: 15px;
    right: 3.5%;
    bottom: 90px;
}

@media (min-width: 1100px) {
    .Btn {
        right: unset;
        margin-left: 0cm;
        bottom: 1cm;
        z-index: 99;
        border-radius: 15px;
        font-size: 18px;
        width: 52px;
        outline: none;
        cursor: pointer;
        padding: 15px;
    }

    .topBtn {
        left: 3cm;

    }

    .themeBtn {
        left: 1cm;
        padding-left: 12px;
    }
}